<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="postgreSQLConnectionString" connectionString="Server=localhost;Port=5432;User Id=swe1user;Password=swe1pw;" />
		<add name="postgreSQLConnectionStringDB" connectionString="Server=localhost;Port=5432;Database=tourplanner;User Id=swe1user;Password=swe1pw;" />
	</connectionStrings>
</configuration>