<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="postgreSQLConnectionString" connectionString="Server=localhost;Port=5432;User Id=swe1user;Password=swe1pw;" />
		<add name="postgreSQLConnectionStringDB" connectionString="Server=localhost;Port=5432;Database=tourplanner;User Id=swe1user;Password=swe1pw;" />
	</connectionStrings>
	<appSettings>
		<add key ="KeyMapQuest" value="8JMGZdUPEZ3IFDGZC7t3gj6K4P7oLo3g"/>
		<add key ="ImgFolderPath" value="C:\SWEN_semesterproject_images\"/>
		<add key ="PDFFolderPath" value="C:\SWEN_semesterproject_pdf\"/>
		<!--<add key ="Logging" value="C:\SWEN_semesterproject_log\"/>-->
	</appSettings>
</configuration>

